@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@CustomHelper.AlertMessages()
<div>
    <a href="#" onclick="getModalContent('@Url.Action("Create",new { area="Personnel" })'); return false;" data-toggle="modal" data-target="#modal-container" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus"></span> Create New
    </a>
</div>

<div class="row">
    @CustomHelper.RowSizeDropdown()
    <div class="col-lg-8" id="paginator-container">
        <div class="paginator"></div>
    </div>
</div>
<div id="personContent"></div>
@Scripts.Render("~/bundles/unobtrusive-ajax")
@CustomHelper.GetModal("Person")


@Scripts.Render("~/bundles/modal")
@Scripts.Render("~/bundles/pagination")
@Scripts.Render("~/bundles/person")

<script type="text/javascript">    
    var pageSizeAction = '@Url.Action("PageSize", new { controller = "Person", area = "Personnel" })';
    var listAction = '@Url.Action("List", new { controller = "Person", area = "Personnel" })';
</script>